@import '../../assets/iconfont/iconfont.less';

.totalNum {
  width: 85%;
  margin: 15px;
  padding: 30px 10px;
  line-height: 48px;
  font-size: 24px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 3px #ccc;

  .totalDetail {
    text:nth-child(1) {
      font-weight: 400;
    }
    text:nth-child(2) {
      color: #f9a7a5;
      font-weight: 800;
    }
    text:nth-child(3) {
      font-size: 25px;
    }
  }

  .totalDetail:nth-child(2)::before {
    position: relative;
    top: 33px;
    right: 40px;
    display: inline-block;
    height: 30px;
    border-right: 5px solid #f9a7a5;
    content: '';
  }

  .totalDetail:nth-child(2)::after {
    position: relative;
    top: -15px;
    left: 60px;
    display: inline-block;
    height: 30px;
    border-left: 5px solid #f9a7a5;
    content: '';
  }
}

.totalItemNum {
  width: 85%;
  margin: 15px;
  padding: 30px 10px;
  line-height: 48px;
  font-size: 24px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 3px #ccc;

  .totalItemDetail {
    text:nth-child(1) {
      font-weight: 400;
    }
    view:nth-child(2) {
      margin: 10px 0;
    }
    text:nth-child(3) {
      font-size: 20px;
      color: #ccc;
      letter-spacing: 8px;
    }
  }
}

.swiper {
  width: 100%;
  background-color: #f9a7a5;
  text-align: center;
  font-weight: 800;
  font-size: 25px;
  margin-top: 25px;
  margin-left: 30px;
  .imageSwiperItem {
    height: 400px;
    margin: 0 25%;
    border-radius: 15px;
    background-color: aquamarine;
  }
  .imageSwiperItem text:nth-child(1) {
    display: block;
    margin-top: 30px;
  }
  .imageSwiperItem image {
    width: 200px;
    height: 200px;
    margin: 10% auto;
  }
}
